[data-theme="dark"] .codehilite .hll { background-color: #44475a }
[data-theme="dark"] .codehilite { background: #282a36; color: #F8F8F2 }
[data-theme="dark"] .codehilite .c { color: #6272A4 } /* Comment */
[data-theme="dark"] .codehilite .err { color: #F8F8F2 } /* Error */
[data-theme="dark"] .codehilite .g { color: #F8F8F2 } /* Generic */
[data-theme="dark"] .codehilite .k { color: #FF79C6 } /* Keyword */
[data-theme="dark"] .codehilite .l { color: #F8F8F2 } /* Literal */
[data-theme="dark"] .codehilite .n { color: #F8F8F2 } /* Name */
[data-theme="dark"] .codehilite .o { color: #FF79C6 } /* Operator */
[data-theme="dark"] .codehilite .x { color: #F8F8F2 } /* Other */
[data-theme="dark"] .codehilite .p { color: #F8F8F2 } /* Punctuation */
[data-theme="dark"] .codehilite .ch { color: #6272A4 } /* Comment.Hashbang */
[data-theme="dark"] .codehilite .cm { color: #6272A4 } /* Comment.Multiline */
[data-theme="dark"] .codehilite .cp { color: #FF79C6 } /* Comment.Preproc */
[data-theme="dark"] .codehilite .cpf { color: #6272A4 } /* Comment.PreprocFile */
[data-theme="dark"] .codehilite .c1 { color: #6272A4 } /* Comment.Single */
[data-theme="dark"] .codehilite .cs { color: #6272A4 } /* Comment.Special */
[data-theme="dark"] .codehilite .gd { color: #8B080B } /* Generic.Deleted */
[data-theme="dark"] .codehilite .ge { color: #F8F8F2; text-decoration: underline } /* Generic.Emph */
[data-theme="dark"] .codehilite .ges { color: #F8F8F2; text-decoration: underline } /* Generic.EmphStrong */
[data-theme="dark"] .codehilite .gr { color: #F8F8F2 } /* Generic.Error */
[data-theme="dark"] .codehilite .gh { color: #F8F8F2; font-weight: bold } /* Generic.Heading */
[data-theme="dark"] .codehilite .gi { color: #F8F8F2; font-weight: bold } /* Generic.Inserted */
[data-theme="dark"] .codehilite .go { color: #44475A } /* Generic.Output */
[data-theme="dark"] .codehilite .gp { color: #F8F8F2 } /* Generic.Prompt */
[data-theme="dark"] .codehilite .gs { color: #F8F8F2 } /* Generic.Strong */
[data-theme="dark"] .codehilite .gu { color: #F8F8F2; font-weight: bold } /* Generic.Subheading */
[data-theme="dark"] .codehilite .gt { color: #F8F8F2 } /* Generic.Traceback */
[data-theme="dark"] .codehilite .kc { color: #FF79C6 } /* Keyword.Constant */
[data-theme="dark"] .codehilite .kd { color: #8BE9FD; font-style: italic } /* Keyword.Declaration */
[data-theme="dark"] .codehilite .kn { color: #FF79C6 } /* Keyword.Namespace */
[data-theme="dark"] .codehilite .kp { color: #FF79C6 } /* Keyword.Pseudo */
[data-theme="dark"] .codehilite .kr { color: #FF79C6 } /* Keyword.Reserved */
[data-theme="dark"] .codehilite .kt { color: #8BE9FD } /* Keyword.Type */
[data-theme="dark"] .codehilite .ld { color: #F8F8F2 } /* Literal.Date */
[data-theme="dark"] .codehilite .m { color: #FFB86C } /* Literal.Number */
[data-theme="dark"] .codehilite .s { color: #BD93F9 } /* Literal.String */
[data-theme="dark"] .codehilite .na { color: #50FA7B } /* Name.Attribute */
[data-theme="dark"] .codehilite .nb { color: #8BE9FD; font-style: italic } /* Name.Builtin */
[data-theme="dark"] .codehilite .nc { color: #50FA7B } /* Name.Class */
[data-theme="dark"] .codehilite .no { color: #F8F8F2 } /* Name.Constant */
[data-theme="dark"] .codehilite .nd { color: #F8F8F2 } /* Name.Decorator */
[data-theme="dark"] .codehilite .ni { color: #F8F8F2 } /* Name.Entity */
[data-theme="dark"] .codehilite .ne { color: #F8F8F2 } /* Name.Exception */
[data-theme="dark"] .codehilite .nf { color: #50FA7B } /* Name.Function */
[data-theme="dark"] .codehilite .nl { color: #8BE9FD; font-style: italic } /* Name.Label */
[data-theme="dark"] .codehilite .nn { color: #F8F8F2 } /* Name.Namespace */
[data-theme="dark"] .codehilite .nx { color: #F8F8F2 } /* Name.Other */
[data-theme="dark"] .codehilite .py { color: #F8F8F2 } /* Name.Property */
[data-theme="dark"] .codehilite .nt { color: #FF79C6 } /* Name.Tag */
[data-theme="dark"] .codehilite .nv { color: #8BE9FD; font-style: italic } /* Name.Variable */
[data-theme="dark"] .codehilite .ow { color: #FF79C6 } /* Operator.Word */
[data-theme="dark"] .codehilite .pm { color: #F8F8F2 } /* Punctuation.Marker */
[data-theme="dark"] .codehilite .w { color: #F8F8F2 } /* Text.Whitespace */
[data-theme="dark"] .codehilite .mb { color: #FFB86C } /* Literal.Number.Bin */
[data-theme="dark"] .codehilite .mf { color: #FFB86C } /* Literal.Number.Float */
[data-theme="dark"] .codehilite .mh { color: #FFB86C } /* Literal.Number.Hex */
[data-theme="dark"] .codehilite .mi { color: #FFB86C } /* Literal.Number.Integer */
[data-theme="dark"] .codehilite .mo { color: #FFB86C } /* Literal.Number.Oct */
[data-theme="dark"] .codehilite .sa { color: #BD93F9 } /* Literal.String.Affix */
[data-theme="dark"] .codehilite .sb { color: #BD93F9 } /* Literal.String.Backtick */
[data-theme="dark"] .codehilite .sc { color: #BD93F9 } /* Literal.String.Char */
[data-theme="dark"] .codehilite .dl { color: #BD93F9 } /* Literal.String.Delimiter */
[data-theme="dark"] .codehilite .sd { color: #BD93F9 } /* Literal.String.Doc */
[data-theme="dark"] .codehilite .s2 { color: #BD93F9 } /* Literal.String.Double */
[data-theme="dark"] .codehilite .se { color: #BD93F9 } /* Literal.String.Escape */
[data-theme="dark"] .codehilite .sh { color: #BD93F9 } /* Literal.String.Heredoc */
[data-theme="dark"] .codehilite .si { color: #BD93F9 } /* Literal.String.Interpol */
[data-theme="dark"] .codehilite .sx { color: #BD93F9 } /* Literal.String.Other */
[data-theme="dark"] .codehilite .sr { color: #BD93F9 } /* Literal.String.Regex */
[data-theme="dark"] .codehilite .s1 { color: #BD93F9 } /* Literal.String.Single */
[data-theme="dark"] .codehilite .ss { color: #BD93F9 } /* Literal.String.Symbol */
[data-theme="dark"] .codehilite .bp { color: #F8F8F2; font-style: italic } /* Name.Builtin.Pseudo */
[data-theme="dark"] .codehilite .fm { color: #50FA7B } /* Name.Function.Magic */
[data-theme="dark"] .codehilite .vc { color: #8BE9FD; font-style: italic } /* Name.Variable.Class */
[data-theme="dark"] .codehilite .vg { color: #8BE9FD; font-style: italic } /* Name.Variable.Global */
[data-theme="dark"] .codehilite .vi { color: #8BE9FD; font-style: italic } /* Name.Variable.Instance */
[data-theme="dark"] .codehilite .vm { color: #8BE9FD; font-style: italic } /* Name.Variable.Magic */
[data-theme="dark"] .codehilite .il { color: #FFB86C } /* Literal.Number.Integer.Long */

[data-theme="light"] .codehilite .hll { background-color: #ffffcc }
[data-theme="light"] .codehilite { background: #f0f0f0; color: #333333; }
[data-theme="light"] .codehilite .c { color: #60A0B0; font-style: italic } /* Comment */
[data-theme="light"] .codehilite .err { border: 1px solid #F00 } /* Error */
[data-theme="light"] .codehilite .k { color: #007020; font-weight: bold } /* Keyword */
[data-theme="light"] .codehilite .o { color: #666 } /* Operator */
[data-theme="light"] .codehilite .ch { color: #60A0B0; font-style: italic } /* Comment.Hashbang */
[data-theme="light"] .codehilite .cm { color: #60A0B0; font-style: italic } /* Comment.Multiline */
[data-theme="light"] .codehilite .cp { color: #007020 } /* Comment.Preproc */
[data-theme="light"] .codehilite .cpf { color: #60A0B0; font-style: italic } /* Comment.PreprocFile */
[data-theme="light"] .codehilite .c1 { color: #60A0B0; font-style: italic } /* Comment.Single */
[data-theme="light"] .codehilite .cs { color: #60A0B0; background-color: #FFF0F0 } /* Comment.Special */
[data-theme="light"] .codehilite .gd { color: #A00000 } /* Generic.Deleted */
[data-theme="light"] .codehilite .ge { font-style: italic } /* Generic.Emph */
[data-theme="light"] .codehilite .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
[data-theme="light"] .codehilite .gr { color: #F00 } /* Generic.Error */
[data-theme="light"] .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
[data-theme="light"] .codehilite .gi { color: #00A000 } /* Generic.Inserted */
[data-theme="light"] .codehilite .go { color: #888 } /* Generic.Output */
[data-theme="light"] .codehilite .gp { color: #C65D09; font-weight: bold } /* Generic.Prompt */
[data-theme="light"] .codehilite .gs { font-weight: bold } /* Generic.Strong */
[data-theme="light"] .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
[data-theme="light"] .codehilite .gt { color: #04D } /* Generic.Traceback */
[data-theme="light"] .codehilite .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
[data-theme="light"] .codehilite .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
[data-theme="light"] .codehilite .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
[data-theme="light"] .codehilite .kp { color: #007020 } /* Keyword.Pseudo */
[data-theme="light"] .codehilite .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
[data-theme="light"] .codehilite .kt { color: #902000 } /* Keyword.Type */
[data-theme="light"] .codehilite .m { color: #40A070 } /* Literal.Number */
[data-theme="light"] .codehilite .s { color: #4070A0 } /* Literal.String */
[data-theme="light"] .codehilite .na { color: #4070A0 } /* Name.Attribute */
[data-theme="light"] .codehilite .nb { color: #007020 } /* Name.Builtin */
[data-theme="light"] .codehilite .nc { color: #0E84B5; font-weight: bold } /* Name.Class */
[data-theme="light"] .codehilite .no { color: #60ADD5 } /* Name.Constant */
[data-theme="light"] .codehilite .nd { color: #555; font-weight: bold } /* Name.Decorator */
[data-theme="light"] .codehilite .ni { color: #D55537; font-weight: bold } /* Name.Entity */
[data-theme="light"] .codehilite .ne { color: #007020 } /* Name.Exception */
[data-theme="light"] .codehilite .nf { color: #06287E } /* Name.Function */
[data-theme="light"] .codehilite .nl { color: #002070; font-weight: bold } /* Name.Label */
[data-theme="light"] .codehilite .nn { color: #0E84B5; font-weight: bold } /* Name.Namespace */
[data-theme="light"] .codehilite .nt { color: #062873; font-weight: bold } /* Name.Tag */
[data-theme="light"] .codehilite .nv { color: #BB60D5 } /* Name.Variable */
[data-theme="light"] .codehilite .ow { color: #007020; font-weight: bold } /* Operator.Word */
[data-theme="light"] .codehilite .w { color: #BBB } /* Text.Whitespace */
[data-theme="light"] .codehilite .mb { color: #40A070 } /* Literal.Number.Bin */
[data-theme="light"] .codehilite .mf { color: #40A070 } /* Literal.Number.Float */
[data-theme="light"] .codehilite .mh { color: #40A070 } /* Literal.Number.Hex */
[data-theme="light"] .codehilite .mi { color: #40A070 } /* Literal.Number.Integer */
[data-theme="light"] .codehilite .mo { color: #40A070 } /* Literal.Number.Oct */
[data-theme="light"] .codehilite .sa { color: #4070A0 } /* Literal.String.Affix */
[data-theme="light"] .codehilite .sb { color: #4070A0 } /* Literal.String.Backtick */
[data-theme="light"] .codehilite .sc { color: #4070A0 } /* Literal.String.Char */
[data-theme="light"] .codehilite .dl { color: #4070A0 } /* Literal.String.Delimiter */
[data-theme="light"] .codehilite .sd { color: #4070A0; font-style: italic } /* Literal.String.Doc */
[data-theme="light"] .codehilite .s2 { color: #4070A0 } /* Literal.String.Double */
[data-theme="light"] .codehilite .se { color: #4070A0; font-weight: bold } /* Literal.String.Escape */
[data-theme="light"] .codehilite .sh { color: #4070A0 } /* Literal.String.Heredoc */
[data-theme="light"] .codehilite .si { color: #70A0D0; font-style: italic } /* Literal.String.Interpol */
[data-theme="light"] .codehilite .sx { color: #C65D09 } /* Literal.String.Other */
[data-theme="light"] .codehilite .sr { color: #235388 } /* Literal.String.Regex */
[data-theme="light"] .codehilite .s1 { color: #4070A0 } /* Literal.String.Single */
[data-theme="light"] .codehilite .ss { color: #517918 } /* Literal.String.Symbol */
[data-theme="light"] .codehilite .bp { color: #007020 } /* Name.Builtin.Pseudo */
[data-theme="light"] .codehilite .fm { color: #06287E } /* Name.Function.Magic */
[data-theme="light"] .codehilite .vc { color: #BB60D5 } /* Name.Variable.Class */
[data-theme="light"] .codehilite .vg { color: #BB60D5 } /* Name.Variable.Global */
[data-theme="light"] .codehilite .vi { color: #BB60D5 } /* Name.Variable.Instance */
[data-theme="light"] .codehilite .vm { color: #BB60D5 } /* Name.Variable.Magic */
[data-theme="light"] .codehilite .il { color: #40A070 } /* Literal.Number.Integer.Long */